$color:(#e5e5e5 #0cb95f #fffbe9 #F2B305 #999 #e50000);

.header {
    height: 120px;

    .sub {
        width: 112px;
        height: 55px;

        left: 220px;
        border-left: 1px solid nth($color, 1);
        padding-left: 15px;

        span {
            line-height: 55px;
            font-size: 24px;
            font-weight: bolder;
        }
    }

    .step {
        width: 425px;
        height: 70px;
        right: 0px;

        background: {
            image: url(../images/cart/step.png);
            position: -29px -14px;
        }
    }
}

.main {
    .main_logo {
        width: 106px;
        height: 50px;
        line-height: 50px;
        cursor: pointer;
        background: nth($color, 2);
        color: #fff;
        font-size: 14px;
        text-align: center;
    }

    .main_header {
        height: 50px;
        border: 1px solid nth($color, 1);
        border-top-color: nth($color, 2)
    }

    $wp:(center, left, right);
    $w:(1 50px nth($wp, 1))(2 100px)(3 388px)(4 240px nth($wp, 3))(5 130px nth($wp, 1))(6 130px nth($wp, 1))(7 150px nth($wp, 1))(8 728px)(9 410px);

    @each $a,
    $b,
    $c in $w {
        .w#{$a} {
            width: $b;
            text-align: $c;
        }
    }

    .w4 {
        padding-right: 50px;
    }


    .warn {
        height: 36px;
        line-height: 36px;
        background: nth($color, 3);
        color: nth($color, 4);
        padding-left: 40px;
        border: 1px solid nth($color, 1);
        margin: 10px 0;
    }

    .content {
        margin-bottom: 10px;

        table {
            border-collapse: collapse;

        }

        thead {
            height: 41px;
            background: #f4f4f4;

            .w8 {
                a {
                    font-size: 14px;

                    &:hover {
                        color: nth($color, 2);
                        text-decoration: underline;
                    }
                }
            }
        }

        thead,
        tbody,
        tr {
            border: 1px solid nth($color, 1)
        }

        tbody {

            tr {
                height: 120px;
            }

            img {
                width: 72px;
                height: 72px;
                border: 1px solid nth($color, 1)
            }

            .cf {
                display: inline-block;
                width: 33px;
                height: 16px;
                background: url(../images/index/icons.png) no-repeat -222px -26px;
                vertical-align: middle;
            }

            p {
                color: nth($color, 5);
                line-height: 21px;

                em {
                    color: nth($color, 5)
                }

            }

            .w5 {
                div {
                    width: 90px;
                    margin: 0 auto;
                }

                div>* {
                    float: left;
                }

                input {
                    width: 42px;
                    height: 22px;
                    border-top: 1px solid nth($color, 1);
                    border-bottom: 1px solid nth($color, 1);
                    text-align: center;
                }

                button {
                    width: 24px;
                    height: 22px;
                    background: url(../images/index/icons.png);
                    border: 1px solid nth($color, 1);
                }

                .count_sub {
                    background-position: -166px -80px;
                }

                .count_add {
                    background-position: -192px -80px;
                }

            }

            .w6 span {
                color: nth($color, 6);
                font-size: 14px;

            }

            .w7 input {
                width: 50px;
                height: 30px;
                background: #fe1703;
                color: nth($color, 3);
                cursor: pointer;
            }



        }
    }


}

.sum {
    background: #fff;
    position: sticky;
    bottom: 0;
    height: 70px;
    line-height: 70px;

    .w {
        border: 1px solid nth($color, 1)
    }

    .w>* {
        float: left;
    }

    .sum_check {
        display: inline-block;
        width: 90px;
        height: 70px;
        margin-right: 10px;

        input {
            width: 16px;
            height: 16px;
            margin: 0 13px 0 17px;
        }

        label {
            font-size: 16px;

        }
    }

    #allDel {
        cursor: pointer;
        margin: 0 16px;
    }

    #goon {
        padding: 0 20px;
        color: nth($color, 2);

        &:hover {
            text-decoration: underline;
        }
    }

    .sum_right {
        width: 768px;
        text-align: right;
        height: 70px;

        .title {
            font-size: 14px;
        }

        .price {
            font-size: 24px;
            font-weight: bolder;
            color: nth($color, 6);
        }
    }

    .close {
        float: right;
        width: 120px;
        height: 60px;
        line-height: 60px;
        background: nth($color, 6);
        color: #fff;
        text-align: center;
        font-size: 22px;

        margin: {
            top: 5px;
            right: 10px;

        }

        ;

    }

}