.w {
    width: 1190px;
    margin: 0 auto;
}

/* 顶部导航栏 */
.header_top {
    width: 100%;
    height: 40px;
    background: #f4f4f4;
    border-bottom: 1px solid #e5e5e5;

}

.header_top .w {
    height: 40px;
}

.header_top>.w>* {
    float: left;
}

.header_top ul li {
    float: left;
    padding: 0 15px;
    position: relative;
}

.header_top ul li:nth-of-type(-n+3):after {
    content: '';
    display: inline-block;
    background-color: #e3e3e3;
    width: 1px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 10px
}

.header_top ul li i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../images/index/icons.png);
    vertical-align: middle;
    margin-right: 5px;
}

.header_top ul li>a {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.header_top ul li:hover>a {
    color: #0cb95f;
    text-decoration: underline;
}

.header_top .left .l1 {
    padding-left: 0;
}

.header_top .left .l1 i {
    background-position: -2px -3px;
}

.header_top .left li .l_img {
    position: absolute;
    width: 258px;
    z-index: 2;
    background: #fff;
    left: -65%;
    display: none;
    border: 1px solid #e5e5e5;
    z-index: 4;
}

.header_top .left li .l_img img {
    width: 100%;
}

.header_top .left li:hover .l_img {
    display: block;
}

.header_top .left li .l_img p {
    line-height: 40px;
    text-align: center;
}

.header_top .left .l2 {
    padding-left: 0;
}

.header_top .left .l2 i {
    background-position: -48px -2px;
}

.header_top .left .l3 i {
    background-position: -69px -3px;
}

.header_top .left .l4 i {
    background-position: -48px -2px;
}

.header_top span {
    line-height: 40px;
}

.ht_user {
    width: 185px;
    height: 40px;
}

.register {
    width: 185px;
    text-align: right;
    letter-spacing: 1px;
    display: none;
}

.own {
    width: 185px;
    text-align: right;
    letter-spacing: 1px;
    display: none;

    .exit {
        color: #ccc
    }
}

.register i {
    margin: 0 2px;
}

.register a {
    display: inline-block;
    height: 40px;

}

.register a:hover {
    color: #0cb95f;
    text-decoration: underline;
}

.shopping {
    width: 127px;
    padding-left: 15px;
    margin-left: 5px;
}

.shopping:hover {
    background-color: #fff;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}

.shopping i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/index/icons.png) no-repeat -89px -5px;
    vertical-align: top;
    margin: 12px 2px 0 0;
}

.header_top .right .hr {
    position: relative;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.header_top .right .hr i {
    background-position: -120px 2px;
}

.header_top .right .hr:hover {
    background: #fff;
    border-color: #ccc;
}

.header_top .right .hr:hover i {
    background-position: -136px 2px;
}

.header_top .right .hr:hover>a {
    text-decoration: none;
}

.header_top .right .hr:hover>.hr_box {
    display: block;

}

.header_top .right .hr_box {
    position: absolute;
    right: -1px;
    z-index: 4;
    display: none;
}

.header_top .personal {
    background: #fff;
    border: 1px solid #ccc;
    border-top: 0;
}

.header_top .personal a {
    display: inline-block;
    width: 103px;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}

.header_top .personal a:hover {
    background: #f4f4f4;
    color: #0cb95f;
    text-decoration: underline;
}

.header_top .hr_nav {
    width: 450px;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
}

.header_top .hr_nav dl {
    float: left;
    width: 210px;
    background: #fff;
    margin: 10px 5px;
}

.header_top .hr_nav dl:nth-of-type(1) {
    border-right: 1px solid #ccc;
}

.header_top .hr_nav dt {
    font-size: 14px;
    color: #0cb95f;
    margin-left: 8px;
    margin-bottom: 8px;
}

.header_top .hr_nav dd {
    float: left;
    padding: 3px 10px;
}

.header_top .hr_nav dd a:hover {
    text-decoration: underline;
}


.header_top .m_right a {
    display: inline-block;
    width: 69px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background-color: #0cb95f;
    margin-top: 10px;
    margin-left: 5px;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 2px;
}

/* 头部区域 */
.header {
    height: 140px;
    /* overflow: hidden; */
    position: relative;
}

.header>* {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header>a {
    left: 0
}

.header .logo {
    width: 210px;
    height: 70px;
    background: url(../images/index/logo.jpg);
    text-indent: -80%;
    overflow: hidden;
}

.header .search {
    width: 545px;
    height: 40px;
    border: 2px solid #0cb95f;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    z-index: 3;
}

.header .search>* {
    float: left;
}

.header .search .sea_left {
    width: 80px;
    height: 36px;
    line-height: 36px;
    letter-spacing: 1px;
    padding-left: 20px;
    position: relative;
    border-right: 1px solid #e5e5e5;
    font-size: 14px;
}

.header .search .sea_left::after {
    content: '';
    width: 7px;
    height: 3px;
    background: url(../images/index/icons.png) no-repeat -113px -5px;
    position: absolute;
    right: 10px;
    top: 15px;
}

.header .search input {
    width: 370px;
    height: 36px;
    padding: 5px 10px;
}

.header .search button {
    width: 92px;
    height: 38px;
    background-color: #0cb95f;
    margin-top: -1px;
    margin-right: -1px;
    color: #fff;
    font-size: 14px;
}

.header .search button:hover {
    background-color: #0ba556;
}

.header .header_right {
    right: 15px;
    transform: translateY(-50%);
}

.header .header_right a {
    display: inline-block;
    width: 175px;
    height: 40px;
    background: url("../images/index/icons.png") no-repeat -89px -264px;
}

.search_box {
    float: none !important;
    position: absolute;
    top: 38px;
    left: 79px;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-top: 0;
    display: none;
}

.search_box li {
    font-size: 13px;
    padding: 6px 10px;
    cursor: pointer;
    width: 370px;

}

.search_hover {
    background-color: #f4f4f4;
}

/* 导航栏 */
.nav>* {
    float: left;
}

.nav .menu>a {
    display: inline-block;
    width: 230px;
    height: 50px;
    line-height: 50px;
    background-color: #0cb95f;
    color: #fff;
    font-size: 16px;
    padding-left: 20px;
}

.nav .nav_content li {
    float: left;
}

.nav .nav_content li:hover a {
    color: #0cb95f;
    text-decoration: underline;

}

.nav .nav_content li a {
    font-size: 16px;
    display: inline-block;
    width: 124px;
    line-height: 50px;
    text-align: center;
}

.menu .menu2 {
    display: none;
    width: 230px;
    height: 390px;
    position: absolute;
    background: rgba(255, 255, 255, .9);
    z-index: 1;
}

.menu .menu2>li {
    height: 65px;
    padding: 9px 0 10px 50px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.menu .menu2>li:nth-of-type(-n+5) {
    border-bottom: 1px dashed #e5e5e5;

}

.menu .menu2>li>h2 {
    font-weight: 400;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.menu .menu2>li>i {
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(../images/index/icons.png) no-repeat;
    left: 13px;
}

.menu .menu2>li:nth-of-type(1)>i {
    top: 15px;
    background-position: -132px -154px;
}

.menu .menu2>li:nth-of-type(2)>i {
    top: 80px;
    background-position: -155px -154px;
}

.menu .menu2>li:nth-of-type(3)>i {
    background-position: -181px -154px;
}

.menu .menu2>li:nth-of-type(4)>i {
    background-position: -204px -154px;
}

.menu .menu2>li:nth-of-type(5)>i {
    background-position: -228px -154px;
}

.menu .menu2>li:nth-of-type(6)>i {
    background-position: -252px -154px;
}

.menu .sub a {
    font-size: 12px;
    color: #999;
    margin-right: 10px;
}


.menu3 {
    position: absolute;
    top: 0;
    left: 100%;
    width: 780px;
    height: 440px;
    background: #f4f4f4;
    border-left: none;
    z-index: 1;
    display: none;
}

.menu .menu3_ul {
    width: 533px;
    float: left;
}

.menu .menu3_ul>li {
    /* width: 520px; */
    /* height: 45px; */
    padding: 14px 0;
    margin-left: 20px;
    border-bottom: 1px dashed #e5e5e5
}

.menu .menu3_ul>li span {
    float: left;
    width: 78px;
    height: 20px;
    line-height: 20px;
    background: #0cb95f;
    position: relative;
    padding-left: 5px;
    margin-right: 10px
}

.menu .menu3_ul>li span:hover a {
    color: #fff;
    text-decoration: none;
}

.menu .menu2 .menu3_ul>li span a {
    color: #fff;
    margin-right: 5px;
}

.menu .menu3_ul>li span i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #0aa454 url(../images/index/icons.png) no-repeat -11px -22px;
    position: absolute;
    top: 0;
    right: 0;
}

.menu .menu3_ul>li ul {
    float: left;
    width: 425px;
}

.menu .menu3_ul>li ul>li {
    float: left;
    margin: 0 8px;
}

.menu .menu_more {
    position: absolute;
    left: 432px;
    width: 78px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    background-color: #ccc;
    padding-left: 4px;
    margin-top: 15px
}

.menu .menu3_ul>.menu_more i {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #bbb;
}

.menu .menu3_ul>.menu_more i b {
    width: 14px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/index/icons.png) no-repeat -17px -22px;
}

.menu .menu2 a:hover {
    color: #0cb95f;
    text-decoration: underline;
}

.menu2 .menu3 .menu_img {
    float: right;
    width: 169px;
    margin: 13px 13px 0 0;

}

.menu2 .menu3 .menu_img .img_top {
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 6px;
}

.menu2 .menu3 .menu_img .img_top img {
    width: 80px;
    border: 1px solid #e5e5e5;
}

.menu2 .menu3 .menu_img .img_bottom {
    background: #fff;
    margin-top: 11px
}

.menu2 .menu3 .menu_img .img_bottom h2 {
    font-weight: 400;
    font-size: 13px;
    border-bottom: 1px solid #eaeaea;
    height: 35px;
    line-height: 35px;
    padding-left: 14px
}

.menu2 .menu3 .menu_img .img_bottom ul {
    width: 155px;
    padding-left: 23px;
    overflow: hidden;
}

.menu2 .menu3 .menu_img .img_bottom ul li {
    list-style: disc;
    height: 30px;
    line-height: 30px;
}

.menu2 .menu3 .menu_img .img_bottom ul a {
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 底部区域 */
.footer .navigation {
    height: 176px;
    background: #f4f4f4;
    margin-top: 20px;
    padding: 20px 0;
}

.footer .navigation .fn_left dl {
    float: left;
    width: 147px;
}

.footer .navigation .fn_left dt {
    font-size: 14px;
    color: #6a6a6a;
    margin-bottom: 10px;

}

.footer .navigation .fn_left dd a {
    color: #888;
    line-height: 26px;
}

.footer .navigation .fn_left dd a:hover {
    color: #0cb95f;
    text-decoration: underline;
}

.footer .fn_right div {
    width: 147px;
    float: left;
    text-align: center;
}

.footer .fn_right div h3 {
    font-size: 14px;
    color: #6a6a6a;
    font-weight: 400;
}

.footer .fn_right div img {
    margin: 10px;
}

.footer_bottom {
    height: 327px;
    background: #444a50;
    color: #959aa0;
    padding-top: 20px
}

.footer_bottom .fb_nav {
    height: 28px;
}

.footer_bottom .fb_nav li {
    float: left;
    padding: 0 14px;
    position: relative;
}

.footer_bottom .fb_nav li:first-child {
    padding-left: 0;
}

.footer_bottom .fb_nav li:nth-of-type(-n+10)::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 11px;
    background: rgb(160, 160, 160);
    top: 4px;
    right: 0;
}

.footer_bottom .fb_nav li a {
    color: #dee5ea;
}

.footer_bottom a:hover {
    text-decoration: underline;
}

.footer_bottom p {
    word-spacing: 10px;
    line-height: 37px;
}

.footer_bottom a {
    color: #959aa0;
}

.footer_bottom p img {
    vertical-align: middle;
    margin-right: 5px;
}


.footer_bottom .fb_img li {
    float: left;
}

.footer_bottom .fb_img li a {
    display: inline-block;
    width: 100px;
    height: 40px;
    background: url(../images/index/icon_rz.gif) no-repeat;
}

.footer_bottom .fb_img li:nth-of-type(2) a {
    background-position: 0 -40px;
}

.footer_bottom .fb_img li:nth-of-type(3) a {
    background-position: 0 -80px;
}

.footer_bottom .fb_img li:nth-of-type(4) a {
    background-position: 0 -120px;
}

.footer_bottom .fb_img li:nth-of-type(5) a {
    background-position: 0 -160px;
}

.footer_bottom .fb_img li:nth-of-type(6) a {
    background-position: 0 -200px;
}

.footer_bottom .fb_img li:nth-of-type(7) a {
    background-position: 0 -320px;
}

.footer_bottom .fb_img li:nth-of-type(8) a {
    background-position: 0 -360px;
}

.footer_bottom .fb_img li:nth-of-type(9) a {
    border-radius: 4px;
}

.footer_bottom .fb_img li:nth-of-type(-n+8) {
    margin-right: 10px
}