.w {
    width: 990px;
}

.header_top {
    .right {
        float: right;

        li:after {
            width: 0 !important;
        }
    }

    .left {
        li:nth-of-type(2)::after {
            width: 0;
        }
    }
}

.header {
    height: 120px;

    .sub {
        width: 112px;
        height: 55px;
        transform: translateY(-50%);
        left: 220px;
        border-left: 1px solid #e5e5e5;
        padding-left: 15px;

        span {
            line-height: 55px;
            font-size: 24px;
            font-weight: bolder;
        }
    }
}

$color:(#e5e5e5 #16c08e #0cb95f #333 #999 #ea6171);

.setting {
    width: 100%;
    height: 540px;
    background: url(../images/login/setting.jpg);
    background-position: center top;
    position: relative;

    .login {
        position: absolute;
        top: 50px;
        left: 57%;
        width: 400px;
        background: #fff;
        padding: 0 40px 20px;

        .login_top {
            text-align: center;
            margin: 5px 0;
            color: #333;

            .lt_color {
                color: nth($color, 2);
                border-bottom: 4px solid nth($color, 2);

            }
        }

        .login_top span {
            display: inline-block;
            width: 154px;
            height: 54px;
            line-height: 54px;
            font-size: 20px;
            margin: 0 3px;
            position: relative;
            color: nth($color, 5);
        }

        .login_top span:nth-of-type(1):after {
            content: '';
            position: absolute;
            width: 1px;
            height: 18px;
            background: #eef1f5;
            right: -3px;
            top: 50%;
            transform: translateY(-50%);
        }

        .item {
            height: 50px;
            line-height: 50px;
        }

        .login_item {
            span:nth-of-type(1) {
                font-size: 16px;
                margin-right: 46px;
            }

            span:nth-of-type(2) {
                font-size: 14px;
            }

            a {
                color: nth($color, 3);
                font-size: 14px;
                text-decoration: underline;
            }
        }

        .form_input {
            position: relative;
            margin-top: 6px;




            i {
                position: absolute;
                width: 18px;
                height: 25px;
                background: url(../images/index/icons.png);
                left: 10px;
            }

            i:nth-of-type(1) {
                top: 11px;
                background-position: -352px -110px;
            }

            i:nth-of-type(2) {
                top: 68px;
                background-position: -372px -109px;
            }



            .forget {
                height: 50px;
                line-height: 50px;
                margin: 3px 0;

                label {
                    font-size: 14px;
                    color: nth($color, 4);

                }

                a {
                    position: absolute;
                    right: 0;
                    font-size: 14px;
                    text-decoration: underline;
                }

                a:hover {
                    color: nth($color, 3)
                }
            }


        }

        .form_input>input,
        .fast>input {
            display: block;
            width: 322px;
            height: 42px;
            border: 1px solid #ccc;
            font-size: 16px;
        }

        #username,
        #password {
            padding: 0 20px 0 35px;
        }

        .fast {
            margin-bottom: 20px;
            position: relative;
        }

        .fast input {
            padding: 0 20px 0 10px
        }

        .fast span {
            position: absolute;
            color: nth($color, 3);
            right: 10px;
            top: 72px;
        }

        #submit {
            display: block;
            width: 320px;
            height: 48px;
            line-height: 48px;
            margin: 0 auto;
            background: nth($color, 3);
            color: #fff;
            font-size: 18px;
            text-align: center;
            cursor: pointer;
        }

        .consent {
            margin: 2px 0;

            a {
                color: nth($color, 3);
            }

            a:hover {
                text-decoration: underline;
            }
        }

        input {
            vertical-align: middle;
        }

        .other_a {
            a {
                float: left;
                width: 30px;
                height: 30px;
                background: url(../images/index/icons.png);
                margin-right: 20px;
            }

            a:nth-of-type(1) {
                background-position: -416px -142px;
            }

            a:nth-of-type(2) {
                background-position: -448px -142px;
            }

            a:nth-of-type(3) {
                background-position: -416px -174px;
            }

            a:nth-of-type(4) {
                background-position: -448px -174px;
            }
        }

        #title {
            height: 20px;
            color: nth($color, 6);
            display: none;
        }

        #title i {
            position: static;
            display: inline-block;
            width: 15px;
            height: 15px;
            background: url(../images/index/icons.png) -281px -120px;
            vertical-align: middle;
        }
    }

}

.footer {
    height: 130px;

    .footer_box {
        width: 1000px;
        margin: 0 auto;
        padding-top: 10px;
    }

    * {
        color: nth($color, 5);
    }

    ul {
        height: 26px;
        line-height: 26px;
    }

    ul li {
        float: left;
        padding: 0 11px;
        position: relative;
    }

    ul li:nth-of-type(-n+13)::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 12px;
        background: nth($color, 5);
        top: 50%;
        transform: translateY(-50%);
        right: 0;
    }

    ul li:hover {
        text-decoration: underline;
    }

    p {
        text-align: center;
        line-height: 28px;
    }

    .p1 {
        span {
            margin-right: 9px;

            a {
                margin-left: 5px;
            }
        }
    }
}