.w {
  width: 990px;
}

.header_top .right {
  float: right;
}
.header_top .right li:after {
  width: 0 !important;
}
.header_top .left li:nth-of-type(2)::after {
  width: 0;
}

.header {
  height: 120px;
}
.header .sub {
  width: 112px;
  height: 55px;
  left: 220px;
  border-left: 1px solid #e5e5e5;
  padding-left: 15px;
}
.header .sub span {
  line-height: 55px;
  font-size: 24px;
  font-weight: bolder;
}

.setting {
  width: 100%;
  height: 540px;
  background: url(../images/login/setting.jpg);
  background-position: center top;
  position: relative;
}
.setting .login {
  position: absolute;
  top: 50px;
  left: 57%;
  width: 400px;
  background: #fff;
  padding: 0 40px 20px;
}
.setting .login .login_top {
  text-align: center;
  margin: 5px 0;
  color: #333;
}
.setting .login .login_top .lt_color {
  color: #16c08e;
  border-bottom: 4px solid #16c08e;
}
.setting .login .login_top span {
  display: inline-block;
  width: 154px;
  height: 54px;
  line-height: 54px;
  font-size: 20px;
  margin: 0 3px;
  position: relative;
  color: #999;
  cursor: pointer;
}
.setting .login .login_top span:nth-of-type(1):after {
  content: "";
  position: absolute;
  width: 1px;
  height: 18px;
  background: #eef1f5;
  right: -3px;
  top: 50%;
  transform: translateY(-50%);
}
.setting .login .item {
  height: 50px;
  line-height: 50px;
}
.setting .login .login_item span:nth-of-type(1) {
  font-size: 16px;
  margin-right: 46px;
}
.setting .login .login_item span:nth-of-type(2) {
  font-size: 14px;
}
.setting .login .login_item a {
  color: #0cb95f;
  font-size: 14px;
  text-decoration: underline;
}
.setting .login .form_input {
  position: relative;
  margin-top: 6px;
}
.setting .login .form_input i {
  position: absolute;
  width: 18px;
  height: 25px;
  background: url(../images/index/icons.png);
  left: 10px;
}
.setting .login .form_input i:nth-of-type(1) {
  top: 11px;
  background-position: -352px -110px;
}
.setting .login .form_input i:nth-of-type(2) {
  top: 68px;
  background-position: -372px -109px;
}
.setting .login .form_input .forget {
  height: 50px;
  line-height: 50px;
  margin: 3px 0;
}
.setting .login .form_input .forget label {
  font-size: 14px;
  color: #333;
}
.setting .login .form_input .forget a {
  position: absolute;
  right: 0;
  font-size: 14px;
  text-decoration: underline;
}
.setting .login .form_input .forget a:hover {
  color: #0cb95f;
}
.setting .login .form_input > input,
.setting .login .fast > input {
  display: block;
  width: 322px;
  height: 42px;
  border: 1px solid #ccc;
  font-size: 16px;
}
.setting .login #username,
.setting .login #password {
  padding: 0 20px 0 35px;
}
.setting .login .fast {
  margin-bottom: 20px;
  position: relative;
}
.setting .login .fast input {
  padding: 0 20px 0 10px;
}
.setting .login .fast span {
  position: absolute;
  color: #0cb95f;
  right: 10px;
  top: 72px;
}
.setting .login #submit {
  display: block;
  width: 320px;
  height: 48px;
  line-height: 48px;
  margin: 0 auto;
  background: #0cb95f;
  color: #fff;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.setting .login .consent {
  margin: 2px 0;
}
.setting .login .consent a {
  color: #0cb95f;
}
.setting .login .consent a:hover {
  text-decoration: underline;
}
.setting .login input {
  vertical-align: middle;
}
.setting .login .other_a a {
  float: left;
  width: 30px;
  height: 30px;
  background: url(../images/index/icons.png);
  margin-right: 20px;
}
.setting .login .other_a a:nth-of-type(1) {
  background-position: -416px -142px;
}
.setting .login .other_a a:nth-of-type(2) {
  background-position: -448px -142px;
}
.setting .login .other_a a:nth-of-type(3) {
  background-position: -416px -174px;
}
.setting .login .other_a a:nth-of-type(4) {
  background-position: -448px -174px;
}
.setting .login #title {
  height: 20px;
  color: #ea6171;
  display: none;
}
.setting .login #title i {
  position: static;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/index/icons.png) -281px -120px;
  vertical-align: middle;
}

.footer {
  height: 130px;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .footer_box {
  width: 1000px;
  margin: 0 auto;
  padding-top: 10px;
}
.footer * {
  color: #999;
}
.footer ul {
  height: 26px;
  line-height: 26px;
}
.footer ul li {
  float: left;
  padding: 0 11px;
  position: relative;
}
.footer ul li:nth-of-type(-n+13)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #999;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.footer p {
  text-align: center;
  line-height: 28px;
}
.footer .p1 span {
  margin-right: 9px;
}
.footer .p1 span a {
  margin-left: 5px;
}